<div class="container">
  <img class="mini-img" src="http://placekitten.com/g/500/500"/>
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>   
  <p>
    <strong>Text:</strong>
    <%= @article.content %>
  </p>
</div>
<div class ="container">
 <p>
    <%= link_to "Comments", "#", id: "comments-link" %>
  </p>
  <section id="comments-section">
  <ol id="comments">
  <%= render @comments %>
  </ol>
    </p>
  
</div>
<div class="container">
  <h2>Add Comment</h2>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit "Create Comment", :id => "save-button" %>
    </p>
  <% end %>
</div>
</section>
<%= link_to 'Back', articles_path, class: "big button" %>